* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.section-left {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 50px;
}

.section-left h1 {
  font-size: 18vw;
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
}

.section-right {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding: 50px;
}

.toggle-form {
  margin: 50px 0;
}

.toggle-form ul {
  margin: 0 auto;
  text-align: center;
}

.toggle-form ul li {
  display: inline;
}

.toggle-form ul li button {
  width: 100px;
  height: 50px;
  margin: 0 10px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

.toggle-form ul li button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

.signup-login {
  margin: 50px auto;
}

.signup-login form {
  width: 65%;
  margin: 10px auto;
}

.signup-login ul {
  list-style: none;
}

.signup-login ul li {
  margin: 25px auto;
}

.signup-login label {
  margin: 10px auto;
  display: block;
}

.signup-login input {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.signup-login input[type="submit"] {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

.signup-login input[type="submit"]:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.header h1 {
  position: absolute;
  left: 0;
  top: 10px;
  margin: 0 0 12.5px 50px;
}

.header h1 a {
  color: #000000;
  text-decoration: none;
}

.header ul {
  float: right;
  position: absolute;
  right: 0;
  top: 10px;
  margin: 12.5px 50px 0 0;
}

.header ul li {
  margin: 0 15px;
  list-style: none;
  display: inline-block;
}

.header ul li a {
  color: #000000;
  text-decoration: none;
}

.header ul li a:hover {
  text-decoration: underline;
}

.search input {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

#menu-button {
  display: none;
}

.submit {
  width: 750px;
  margin: 150px auto;
}

.submit form {
  width: 90%;
  margin: 10px auto;
}

.submit ul {
  list-style: none;
}

.submit ul li {
  margin: 50px auto;
}

.submit label {
  margin: 10px auto;
  display: block;
}

.submit input[type="text"] {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.submit textarea {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.submit input[type="submit"] {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

.submit input[type="submit"]:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.posts {
  width: 725px;
  margin: 100px auto;
  clear: both;
}

.post {
  border-bottom: 1px solid #d3d3d3;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.post:last-child {
  border: none;
}

.title {
  margin-bottom: 10px;
}

.title a {
  color: #000000;
  text-decoration: none;
}

.datetime,
.name {
  margin: 10px 0;
  color: #818181;
}

.content p {
  line-height: 1.5;
}

.options {
  margin-top: 10px;
}

.options a {
  color: #000000;
  text-decoration: none;
  padding-right: 10px;
}

.options a:hover {
  text-decoration: underline;
}

.post-content {
  width: 725px;
  margin: 150px auto;
}

.post-content h2 {
  font-size: 30px;
}

.footer {
  clear: both;
}

.footer p {
  font-size: 12px;
  color: #000000;
  text-align: center;
  padding: 25px;
}

@media (max-width: 750px) {
  .section-left {
    float: none;
    width: 100%;
    padding: 25px;
  }

  .section-left h1 {
    margin: 25px auto;
  }

  .section-right {
    float: none;
    width: 100%;
    padding: 25px;
  }

  .content {
    width: 100%;
    margin: 0 auto;
  }

  #menu {
    display: none;
  }

  #menu-button {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    margin: 12.5px 50px 0 0;
  }

  #menu-button:hover {
    cursor: pointer;
  }

  .header ul {
    float: none;
    position: relative;
    margin: 50px auto;
  }

  .header ul li {
    width: 100%;
    height: 30px;
    padding: 15px;
    margin: 15px auto;
    text-align: right;
    box-sizing: border-box;
  }

  .toggle-form {
    margin: 50px 0;
  }

  .toggle-form ul li a {
    font-size: 20px;
  }

  .signup-login form {
    width: 90%;
  }

  .submit {
    width: 100%;
    margin: 100px auto;
  }

  .posts {
    width: 80%;
    margin: 100px auto;
  }

  .post-content {
    width: 80%;
    margin: 100px auto;
  }
}