* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  padding: 25px;
}

h2 {
  text-align: center;
  font-weight: 100;
  padding: 25px;
}

.form {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.form-group {
  width: 100%;
  margin: 25px auto;
}

.form input {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.form input:focus {
  outline: none;
  border: 1px solid #000000;
}

.form input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.form input[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.form textarea {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  resize: none;
}

.form textarea:focus {
  outline: none;
  border: 1px solid #000000;
}

.navbar {
  height: 75px;
  border-bottom: 1px solid #d3d3d3;
}

#logo {
  font-size: 24px;
  text-align: left;
  padding: 25px;
}

.search-button {
  width: 15px;
  position: absolute;
  top: 30px;
  right: 100px;
}

.search-button:hover {
  cursor: pointer;
}

.search input {
  width: 300px;
  height: 40px;
  position: absolute;
  top: 16px;
  right: 150px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
}

.search input:focus {
  outline: none;
}

.menu-button {
  width: 15px;
  position: absolute;
  top: 30px;
  right: 50px;
}

.menu-button:hover {
  cursor: pointer;
}

.menu {
  min-width: 200px;
  min-height: 100px;
  position: absolute;
  top: 75px;
  right: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 1;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  margin: 10px 0;
  padding: 10px;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.info {
  width: 25%;
  min-height: 100px;
  margin: 25px 0;
  padding: 25px 0;
  float: left;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 25px 25px 25px;
}

.info h3 {
  margin: 0 25px 25px 25px;
}

.info p {
  margin: 0 25px 25px 25px;
  color: #818181;
}

.posts {
  width: 65%;
  min-height: 150px;
  margin: 25px 0;
  float: right;
}

.post {
  min-height: 150px;
  padding: 20px 0;
  border-bottom: 1px solid #d3d3d3;
}

.post-image {
  width: 25%;
  height: 100px;
  margin: 10px 10px 0 0;
  float: left;
}

.post h3,
.post p {
  padding: 10px 0;
}

.post span {
  color: #818181;
  padding: 10px 0 10px 0;
}

.post:last-child {
  border-bottom: none;
}

.search-results {
  width: 80%;
  min-height: 100px;
  margin: 50px auto;
}

.no-results {
  margin: 50px;
  text-align: center;
}

.result {
  margin: 25px auto;
  padding: 25px 0;
  border-bottom: 1px solid #d3d3d3;
}

.result h3,
.result span {
  padding: 25px 10px 25px 10px;
}

.single-post {
  width: 650px;
  margin: 25px auto;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;
}

.single-post h3 {
  font-size: 30px;
  margin: 25px 0;
}

.single-post h5 {
  color: #818181;
  font-weight: 100;
}

.single-post img {
  width: 100%;
  margin: 25px auto;
  display: block;
}

.single-post p {
  line-height: 1.5;
  margin: 10px 0;
}

.comments {
  width: 650px;
  margin: 25px auto;
}

.comment {
  margin: 25px 0;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;
}

.comment p {
  padding: 10px 0;
}

.comment span {
  color: #818181;
  font-size: 14px;
}

.footer {
  clear: both;
  border-top: 1px solid #d3d3d3;
}

.footer p {
  color: #818181;
  font-size: 12px;
  padding: 25px;
  text-align: center;
}

@media(max-width: 750px) {
  .content {
    width: 90%;
  }

  .form {
    width: 100%;
  }

  #logo {
    text-align: left;
  }

  .search input {
    width: 90%;
    margin: 25px auto;
    top: 75px;
    right: 5%;
  }

  .info,
  .posts {
    float: none;
    width: 100%;
    margin: 50px auto;
  }

  .single-post,
  .comments {
    width: 90%;
  }
}