* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

form input {
  width: 80%;
  height: 40px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

form input:focus,
form input:active {
  outline: none;
  border: 1px solid #000000;
}

form input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

form input[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

form textarea {
  width: 80%;
  height: 100px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
}

form textarea:focus,
form textarea:active {
  outline: none;
  border: 1px solid #000000;
}

header {
  height: 75px;
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
}

#logo {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  padding: 20px;
}

.menu-button {
  position: absolute;
  top: 25px;
  right: 50px;
}

.menu-button:hover {
  cursor: pointer;
}

.nav {
  background-color: #ffffff;
  width: 250px;
  min-height: 200px;
  position: absolute;
  top: 75px;
  right: 25px;
  border: 1px solid #000000;
  border-top: none;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  padding: 25px 0;
  text-align: center;
}

.nav ul li:hover {
  background-color: #f1f1f1;
}

.content {
  width: 100%;
  background-color: #f1f1f1;
  float: left;
  clear: none;
}

.flash {
  width: 700px;
  margin: 50px auto 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.flash.error {
  background-color: rosybrown;
  color: darkred;
}

.flash.notice {
  background-color: lightskyblue;
  color: steelblue;
}

.flash.warning {
  background-color: wheat;
  color: darkgoldenrod;
}

.index-forms {
  width: 700px;
  margin: 50px auto;
  padding: 50px 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.index-forms h2 {
  font-weight: 100;
  text-align: center;
  padding-bottom: 25px;
}

.buttons {
  padding: 25px;
  text-align: center;
}

.signup-button,
.login-button {
  width: 150px;
  height: 50px;
  margin: 0 25px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

.signup-button:hover,
.login-button:hover {
  cursor: pointer;
}

.index-forms form {
  text-align: center;
}

.submit {
  width: 25%;
  min-height: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  float: left;
  margin: 50px 0 50px 2.5%;
  padding: 25px;
}

.submit img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.submit h2 {
  font-weight: 100;
  margin: 25px 0;
}

.submit p {
  margin: 15px 0;
}

.follow {
  width: 10px;
  height: 30px;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

.follow:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.submit form {
  text-align: center;
}

.posts {
  width: 65%;
  min-height: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  float: right;
  margin: 50px 2.5% 50px 0;
}

.posts h2 {
  font-weight: 100;
  margin: 25px;
}

.post {
  margin: 25px 0;
  padding: 25px;
  border-bottom: 1px solid #d3d3d3;
}

.post:last-child {
  border-bottom: none;
}

.post h3 {
  font-size: 20px;
  margin: 10px 0;
}

.post span {
  color: #818181;
}

.post img {
  width: 25%;
  margin: 25px auto;
  display: block;
}

.post p {
  margin: 10px 0;
  line-height: 1.5;
}

.create {
  width: 60%;
  margin: 50px auto;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 25px;
}

.create h2 {
  text-align: center;
  font-weight: 100;
}

.create form {
  margin: 50px 0;
  text-align: center;
}

.create form input {
  font-size: 16px;
}

.create form textarea {
  height: 500px;
}

.single-post {
  width: 700px;
  margin: 50px auto;
  padding: 25px;
  background-color: #ffffff;
}

.single-post h1 {
  padding: 50px 0 25px 0;
}

.single-post span {
  color: #818181;
}

.single-post img {
  width: 50%;
  margin: 25px auto;
  display: block;
}

.single-post p {
  margin: 50px 0 50px 0;
  line-height: 1.5;
}

.comments form {
  text-align: center;
}

.comment {
  margin: 25px 0;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.comment:last-child {
  border-bottom: 0;
}

.comment p {
  margin: 10px 0;
}

#title {
  font-size: 72px;
  text-align: center;
  margin: 100px;
}

#message {
  font-size: 40px;
  text-align: center;
  margin: 100px;
}

#text {
  font-size: 20px;
  text-align: center;
  margin: 100px;
}

footer {
  height: 100px;
  border-top: 1px solid #000000;
  background-color: #ffffff;
  clear: both;
}

footer p {
  font-size: 12px;
  text-align: center;
  padding-top: 40px;
}

@media(max-width: 900px) {
  .index-forms,
  .index-forms input,
  .flash,
  .create,
  .single-post {
    width: 90%;
  }

  .signup-button,
  .login-button {
    width: 100px;
    height: 40px;
  }

  .submit,
  .posts {
    width: 90%;
    margin: 50px auto;
    float: none;
  }
}